JWT_TOKEN='Token de meta para el bot de WhatsApp'
NUMBER_ID='ID de número de WhatsApp para el bot'
VERIFY_TOKEN=' Token de verificación para el bot de WhatsApp'

CALENDAR_ID='ID del calendario de Google para eventos'

GEMINI_API_URL ='URL del API de Gemini para el bot // esta en prueba, no es oficial'

OPENAI_API_KEY='Clave de API de OpenAI para el bot'